<h1>Heading level 1</h1>
<h2>Heading level 2</h2>
<h3>Heading level 3</h3>
<h4>Heading level 4</h4>
<p>
  Paragraph - Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Necessitatibus facere reiciendis neque maiores suscipit, aliquam debitis vel
  in rem, ab pariatur at odio corrupti cupiditate consectetur libero dicta
  perferendis assumenda.
</p>
<button class="btn-primary">Button Primary</button>
<button class="btn-success">Button success</button>
<button class="btn-danger">Button danger</button>
<button class="btn-light">Button light</button>
<button class="btn-outline">Button outline</button>
<button class="btn-text">Button text</button>
